LEGADO/
__pycache__/
bin/
include/
lib/
pymupdf-venv
whats/
whats2/
_chat.txt
_chat_output_stack.txt
paulochat.txt
paulochat_fixed.txt
/__pycache__/
/bin/
/include/
/lib/
/pyvenv.cfg/
/whats/
/zip_tests/
env


# Ignore Python files
*.pyc
__pycache__/
**/zip_tests

# Ignore virtual environment files
*.egg-info/
*.egg
*.egg-link

# Ignore IDE files
*.iml
*.ipynb
*.pydevproject
*.pycharm

# Ignore build files and Folders
bin/
include/
lib/
share/
zip_tests/
build/
dist/

*.egg-info
*.egg

# Ignore test files
test/
*_test.py
*_test.pyi

# Ignore coverage files
coverage/
*.coverage
*.coverage.*

# Ignore pip files
pip/
pip.log

# Ignore other files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
pyvenv.cfg
.git
.gitignore
.venv
