LEGADO/
__pycache__/
bin/
include/
lib/
pymupdf-venv
whats/
whats2/
_chat.txt
_chat_output_stack.txt
paulochat.txt
paulochat_fixed.txt
/__pycache__/
/bin/
/include/
/lib/
/pyvenv.cfg/
/whats/
/zip_tests/
env
.env