amqp==5.3.1
annotated-types==0.7.0
anyio==4.7.0
bidict==0.23.1
blinker==1.9.0
boto3==1.35.86
botocore==1.35.86
certifi==2024.12.14
click==8.1.8
distro==1.9.0
dnspython==2.7.0
docx2pdf==0.1.8
Flask==3.1.0
Flask-Cors==5.0.0
Flask-SocketIO==5.5.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
kombu==5.4.2
MarkupSafe==3.0.2
numpy==2.2.1
openai==1.58.1
packaging==24.2
pandas==2.2.3
pandas-stubs==2.2.3.241126
pdf2image==1.17.0
pillow==11.0.0
pydantic==2.10.4
pydantic_core==2.27.2
pyee==12.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.1
python-socketio==5.12.0
pytz==2024.2
s3transfer==0.10.4
setuptools==75.6.0
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
tqdm==4.67.1
types-pytz==2024.2.0.20241221
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
vine==5.1.0
Werkzeug==3.1.3
wsproto==1.2.0
zope.event==5.0
zope.interface==7.2
asgiref==3.8.1
# Playwright is listed in Dockerfile
