[Unit]
Description=Backend on port %i
After=network.target

[Service]
User=back
Group=back
WorkingDirectory=/home/back/whats-organizer-back
EnvironmentFile=/home/back/.env
ExecStart=/home/back/whats-organizer-back/.venv/bin/gunicorn --preload -w 1 -k geventwebsocket.gunicorn.workers.GeventWebSocketWorker -b ${HOST}:%i app:app --timeout 1000 --limit-request-line 0
Restart=always
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
